[Unit]
	Description=Overleaf document proxy
	After=overleaf.service
	Wants=overleaf.service

[Service]
	Type=exec
	User=http
	Group=http
	WorkingDirectory=/srv/olserve/
	ExecStart=/srv/olserve/olserve
	Restart=on-failure
	RestartSec=5s
	LimitCORE=0

[Install]
	WantedBy=multi-user.target
